doctype html
html
  head
  title Fix
  link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
  link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
  link(rel="stylesheet", href="/vendor/toastr/toastr.css")
  link(rel="stylesheet", href="/vendor/angular-loading-bar/build/loading-bar.css")
  link(rel="stylesheet", href="/vendor/components-font-awesome/css/font-awesome.css")
  //- link(rel="stylesheet", href="/vendor/angular-motion/dist/angular-motion.css")
  link(rel="stylesheet", href="/css/site.css")
  link(rel="stylesheet", href="/css/previewImages.css")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body(ng-app='app')
    include currentUser
    block main-content
    include scripts