div(ng-controller="SidenavController as vmSidenav", layout="column")
   section(layout="row", flex="")
      md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left", md-is-locked-open="$mdMedia('gt-md')")
         md-toolbar.md-theme-indigo
            h1.md-toolbar-tools Sidenav Left
         md-content.md-padding(data-ng-controller="SidenavLeftController as vmSidenavLeft")
            md-button.md-primary(ng-click="vmSidenavLeft.close()", hide-gt-md="")
               | Close Sidenav Left
            p(hide-md="", show-gt-md="")
               | This sidenav is locked open on your device. To go back to the default behavior,
               | narrow your display.
      md-content.md-padding(flex="")
         div(layout="column", layout-fill="", layout-align="top center")
            p
               | The left sidenav will "lock open" on a medium (&#62;=960px wide) device.
            div
               md-button.md-primary(ng-click="vmSidenav.toggleLeft()", hide-gt-md="")
                  | Toggle left
            div
               md-button.md-primary(ng-click="vmSidenav.toggleRight()")
                  | Toggle right
         div(flex="")
      md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id="right")
         md-toolbar.md-theme-light
            h1.md-toolbar-tools Sidenav Right
         md-content.md-padding(data-ng-controller="SidenavLeftController as vmSidenavRight")
            md-button.md-primary(ng-click="vmSidenavRight.close()")
               | Close Sidenav Right
