header(md-page-header="")
    div(flex-item="")
        .card.bgc-indigo-500
            .toolbar
                button(class="btn btn--l btn--white btn--icon", lx-ripple ="")
                    i(class="mdi mdi-menu")
                span.toolbar__label.fs-title.tc-white-1.ml FiX
                .toolbar__right
                    lx-search-filter(model="searchFilter.sixth", position="right", theme="dark", closed="", placeholder="Buscar")

div(md-header-picture="", style="background-image:url(/img/main.png)")
