extends ../../includes/physics/layout

block main-content
    //// NAVIGATION
    div(ng-include="'/layout/topbar/topbar'")
    div(ng-include="'/layout/sidenav/sidenav'")
    section.content
        div(ui-view)
    footer.container.text-center
        p &copy 2014-2015